<main class="main-content">
    <div class="container_sm">
        <section class="section__wr clearfix">

            <div ng-include="'client/panel/views/common/user_info.ng.html'"></div>

            <div class="user-statistics__wr">
                <div class="user-statistics__table">
                    <div class="user-statistics-table__header">
                        <div class="user-statistics-table__title-wr user-statistics-table__title-wr_empty"></div>
                        <div class="user-statistics-table__title-wr">
                            <div class="user-statistics-table__title">{{ 'DASHBOARD_NUMBER_LEADS' | translate }} </div>
                        </div>
                        <div class="user-statistics-table__title-wr">
                            <div class="user-statistics-table__title">{{ 'DASHBOARD_AMOUNT_TRAFFIC' | translate }} </div>
                        </div>
                    </div>
                    <div class="user-statistics-table__body">
                        <div class="user-statistics-table__sm-row tible-5-col">
                            <div class="user-statistics-table__sm-cell user-statistics-table__time"><span class="table-statistics-content">{{ 'DASHBOARD_24_HOURS' | translate }}</span></div>
                            <div class="user-statistics-table__sm-cell user-statistics-table__data">
                                <span class="table-statistics-content">{{ count1 | amount4digit }}</span>
                            </div>
                            <div class="user-statistics-table__sm-cell user-statistics-table__data">
                                <span class="table-statistics-content">{{ tcount1 | amount4digit }}</span>
                            </div>
                        </div>
                        <div class="user-statistics-table__sm-row tible-5-col">
                            <div class="user-statistics-table__sm-cell user-statistics-table__time"><span class="table-statistics-content">{{ 'DASHBOARD_7_DAYS' | translate }}</span></div>
                            <div class="user-statistics-table__sm-cell user-statistics-table__data">
                                <span class="table-statistics-content">{{ count7 | amount4digit }}</span>
                            </div>
                            <div class="user-statistics-table__sm-cell user-statistics-table__data">
                                <span class="table-statistics-content">{{ tcount7 | amount4digit }}</span>
                            </div>
                        </div>
                        <div class="user-statistics-table__sm-row tible-5-col">
                            <div class="user-statistics-table__sm-cell user-statistics-table__time"><span class="table-statistics-content">{{ 'DASHBOARD_30_DAYS' | translate }}</span></div>
                            <div class="user-statistics-table__sm-cell user-statistics-table__data">
                                <span class="table-statistics-content">{{ count30 | amount4digit }}</span>
                            </div>
                            <div class="user-statistics-table__sm-cell user-statistics-table__data">
                                <span class="table-statistics-content">{{ tcount30 | amount4digit }}</span>
                            </div>
                        </div>
                        <div class="user-statistics-table__sm-row tible-5-col">
                            <div class="user-statistics-table__sm-cell user-statistics-table__time"><span class="table-statistics-content">{{ 'DASHBOARD_3_MONTHS' | translate }}</span></div>
                            <div class="user-statistics-table__sm-cell user-statistics-table__data">
                                <span class="table-statistics-content">{{ count3m | amount4digit }}</span>
                            </div>
                            <div class="user-statistics-table__sm-cell user-statistics-table__data">
                                <span class="table-statistics-content">{{ tcount3m | amount4digit }}</span>
                            </div>
                        </div>
                        <div class="user-statistics-table__sm-row tible-5-col">
                            <div class="user-statistics-table__sm-cell user-statistics-table__time"><span class="table-statistics-content">{{ 'DASHBOARD_12_MONTHS' | translate }}</span></div>
                            <div class="user-statistics-table__sm-cell user-statistics-table__data">
                                <span class="table-statistics-content">{{ count12m | amount4digit }}</span>
                            </div>
                            <div class="user-statistics-table__sm-cell user-statistics-table__data">
                                <span class="table-statistics-content">{{ tcount12m | amount4digit }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
    <div class="container_lg">
        <section class="section__wr clearfix">
            <div class="latest-leads-section">
                <div class="latest-leads__header clearfix">
                    <div class="latest-leads__header-inner">
                        <div class="submenu__additional-action-wr clearfix">
                            <div class="submenu__title-wr">
                                <div class="submenu__title">{{ 'DASHBOARD_LATEST_LEADS' | translate }}</div>
                            </div>
                            <div class="submenu__main-actions-wr">
                                <div class="submenu__main-actions clearfix" ng-show="current_mode=='customer'">
                                    <div ng-show="error" class="alert alert-warning" >{{ error }}</div>
                                    <div ng-show="success" class="alert alert-success" >{{ success }}</div>
                                    <div ng-show="loadingProcess" class="alert alert-warning" style="margin-top: -20px;height: 50px;">
                                        <div style="float: left;">{{ 'MESSAGES_LOADING' | translate }}</div>
                                        <div class="submenu__btn-wr sk-spinner sk-spinner-wave" style="float: left; margin-left: 40px;">
                                            <div class="sk-rect1"></div>
                                            <div class="sk-rect2"></div>
                                            <div class="sk-rect3"></div>
                                            <div class="sk-rect4"></div>
                                            <div class="sk-rect5"></div>
                                        </div>
                                    </div>
                                    <div ng-show="loadingProcessSafari" class="alert alert-warning" >{{ 'MESSAGES_LOADING_SAFARI' | translate }}</div>
                                    <div ng-show="isSafariWin" class="alert alert-warning" >{{ 'MESSAGES_LOAD_SAFARI_WIN' | translate }}</div>
                                    <div ng-show="isSafariMac" class="alert alert-warning" >{{ 'MESSAGES_LOAD_SAFARI_MAC' | translate }}</div>
                                    <div class="form-group-search__wr" ng-hide="loadingProcess">
                                        <div class="form-group-search">
                                            <input type="text" click_enter="findLeads()" placeholder="{{ 'LEADS_SEARCH' | translate }}" class="form-control" id="searchLead">
                                            <button type="button" class="btn-search" ng-click="findLeads()">
                                                <div class="ld-icons_search"></div>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="submenu__btn-group" ng-hide="loadingProcess">
                                        <div class="submenu__btn-wr">
                                            <div class="dropdown"><a href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-warning btn_shadow btn-110">{{ 'LEADS_EXPORT' | translate }} <span class="caret"></span></a>
                                                <div class="dropdown-menu dropdown-menu_scrolling" aria-labelledby="dLabel">
                                                    <ul class="dropdown-menu__inner">
                                                        <li><a href="" ng-click="exportToXls('leadsDataTable')">excel</a></li>
                                                        <li><a href="" ng-click="exportToCsv('leadsDataTable')">csv</a></li>
                                                        <li><a href="" ng-click="exportToXml('leadsDataTable')">xml</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="submenu__btn-wr">
                                            <a href="" class="btn btn-danger btn-110" ng-click="remove()"><i class="ld-icons_delete btn-icon btn-icon_l"></i><span class="btn-text">{{ 'LEADS_DELETE' | translate }}</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="latest-leads__filters">
                            <div class="latest-leads__filters-header clearfix">
                                <div class="latest-leads__filters-header-btn-wr"><a role="button" data-toggle="collapse" href="#collapseLeadsFilters" aria-expanded="false" aria-controls="collapseExample"><span class="btn-toggle__icon"><span class="toggle-line toggle-line-1"></span><span class="toggle-line toggle-line-2"></span><span class="toggle-line toggle-line-3"></span></span></a></div>
                                <div class="latest-leads__filters-header-title">{{ 'FILTERS_APPLY_FILTER' | translate }}</div>
                            </div>
                            <div id="collapseLeadsFilters" class="collapse latest-leads-filters__collapse">
                                <div class="latest-leads-filters__list">
                                    <script type="text/javascript">
                                        $(function () {
                                            $("#datetimepicker_from").datetimepicker({format: "DD/MM/YYYY"});
                                            $("#datetimepicker_till").datetimepicker({format: "DD/MM/YYYY"});
                                            $("#datetimepicker_from").on("dp.change",function (e) {
                                                $("#datetimepicker_till").data("DateTimePicker").setMinDate(e.date);
                                                $("#datetimepicker_from input").trigger('change');
                                                $("#datetimepicker_from").data("DateTimePicker").hide();
                                            });
                                            $("#datetimepicker_till").on("dp.change",function (e) {
                                                $("#datetimepicker_from").data("DateTimePicker").setMaxDate(e.date);
                                                $("#datetimepicker_till input").trigger('change');
                                                $("#datetimepicker_till").data("DateTimePicker").hide();
                                            });
                                            $("#datetimepicker_from").on("dp.show", function() {
                                                $("#datetimepicker_till").data("DateTimePicker").hide();
                                            });
                                            $("#datetimepicker_till").on("dp.show", function() {
                                                $("#datetimepicker_from").data("DateTimePicker").hide();
                                            });
                                            $(document).ready(function() {
                                                //$("#datetimepicker_from").data("DateTimePicker").setDate('{{ filter_from }}');
                                                $("#datetimepicker_till").data("DateTimePicker").setMinDate($("#datetimepicker_from").data("DateTimePicker").getDate());
                                                $("#datetimepicker_from").data("DateTimePicker").setMaxDate($("#datetimepicker_till").data("DateTimePicker").getDate());
                                            });
                                        });
                                    </script>
                                    <div class="latest-leads-filters__list-item">
                                        <div class="dropdown"><a href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-warning btn_shadow btn-110">{{ 'FILTERS_PERIOD' | translate }} <span class="caret"></span></a>
                                            <div class="dropdown-menu dropdown-menu_scrolling" aria-labelledby="dLabel">
                                                <ul class="dropdown-menu__inner">
                                                    <li><a href="" ng-click="changePeriodFilter('custom')">{{ 'FILTERS_PERIOD_CUSTOM' | translate }}</a></li>
                                                    <li><a href="" ng-click="changePeriodFilter('TODAY')">{{ 'FILTERS_PERIOD_TODAY' | translate }}</a></li>
                                                    <li><a href="" ng-click="changePeriodFilter('YESTERDAY')">{{ 'FILTERS_PERIOD_YESTERDAY' | translate }}</a></li>
                                                    <li><a href="" ng-click="changePeriodFilter('7_DAYS')">{{ 'FILTERS_PERIOD_7_DAYS' | translate }}</a></li>
                                                    <li><a href="" ng-click="changePeriodFilter('30_DAYS')">{{ 'FILTERS_PERIOD_30_DAYS' | translate }}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="filter-label" ng-show="filter_period != 'custom'">
                                            {{ 'FILTERS_PERIOD_' + filter_period | translate }}
                                        </div>
                                        <div class="form-group filter-label" style="margin: 0" ng-show="filter_period == 'custom'">
                                            <label for="datetimepicker_from">{{ 'FILTERS_FROM' | translate }}</label>
                                            <div class="input-group date" id="datetimepicker_from" ng-model="filter_from" style="width: 150px">
                                                <input type="text" class="input4wide form-control" ng-model="filter_from" ng-change="fromChange(this)" />
                                                <span class="input-group-addon"><span class="icon-ldxcalendar"></span></span>
                                                <input type="text" class="input4lean form-control" ng-model="filter_from" ng-change="fromChange(this)" />
                                            </div>
                                        </div>
                                        <div class="form-group filter-label" style="margin: 0" ng-show="filter_period == 'custom'">
                                            <label for="datetimepicker_till">{{ 'FILTERS_TILL' | translate}}</label>
                                            <div class="input-group date" id="datetimepicker_till" ng-model="filter_to"  style="width: 150px">
                                                <input type="text" class="input4wide form-control" ng-model="filter_to"/>
                                                <span class="input-group-addon"><span class="icon-ldxcalendar"></span></span>
                                                <input type="text" class="input4lean form-control" ng-model="filter_to"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="latest-leads-filters__list-item">
                                        <div class="dropdown"><a href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-warning btn_shadow btn-110">
                                            {{ 'FILTERS_WEBSITES' | translate }} <span class="caret"></span></a>
                                            <div class="dropdown-menu dropdown-menu_scrolling" aria-labelledby="dLabel">
                                                <ul class="dropdown-menu__inner">
                                                    <li ng-repeat="website in websites"><a href="" ng-click="changeWebsiteFilter(website._id, website.name)">{{website.name}}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="filter-label" ng-show="current_website != []">
                                            <ul style="list-style: none; padding: 0">
                                                <li ng-repeat="site in current_website">
                                                    <span style="cursor: pointer; font-weight: bold" ng-click="removeWebsite($index)">X </span> {{ site }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="latest-leads-filters__list-item">
                                        <div class="dropdown"><a href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-warning btn_shadow btn-110">
                                            {{ 'FILTERS_COUNTRY' | translate }} <span class="caret"></span></a>
                                            <div class="dropdown-menu dropdown-menu_scrolling" aria-labelledby="dLabel">
                                                <ul class="dropdown-menu__inner">
                                                    <!--<li><a href="" ng-click="changeCountryFilter('all')">{{ 'FILTERS_COUNTRIES_ALL' | translate }}</a></li>-->
                                                    <li ng-repeat="country in countries"><a href="" ng-click="changeLocationFilter(country)">{{country}}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="filter-label" ng-show="filter_location != []">
                                            <ul style="list-style: none; padding: 0">
                                                <li ng-repeat="loc in filter_location">
                                                    <span style="cursor: pointer; font-weight: bold" ng-click="removeLocation($index)">X </span> {{ loc }}
                                                </li>
                                            </ul>
                                         </div>
                                    </div>
                                    <div class="latest-leads-filters__list-item">
                                        <div class="dropdown"><a href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-warning btn_shadow btn-110">
                                            {{ 'FILTERS_SOURCE' | translate }} <span class="caret"></span></a>
                                            <div class="dropdown-menu dropdown-menu_scrolling" aria-labelledby="dLabel">
                                                <ul class="dropdown-menu__inner">
                                                    <li><a href="" ng-click="changeTypeFilter('chat')">{{ 'FILTERS_SOURCE_CHAT' | translate }}</a></li>
                                                    <li><a href="" ng-click="changeTypeFilter('form')">{{ 'FILTERS_SOURCE_FORM' | translate }}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="filter-label" ng-show="filter_type != []">
                                            <ul style="list-style: none; padding: 0">
                                                <li ng-repeat="type in current_type">
                                                    <span style="cursor: pointer; font-weight: bold" ng-click="removeType($index)">X </span> {{ type }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="latest-leads-filters__list-item">
                                        <div class="dropdown"><a href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-warning btn_shadow btn-110">
                                            {{ 'FILTERS_STATUS' | translate }} <span class="caret"></span></a>
                                            <div class="dropdown-menu dropdown-menu_scrolling" aria-labelledby="dLabel">
                                                <ul class="dropdown-menu__inner">
                                                    <li><a href="" ng-click="changeDatacountFilter('void')">{{ 'FILTERS_STATUS_VOID' | translate }}</a></li>
                                                    <li><a href="" ng-click="changeDatacountFilter('not_submit')">{{ 'FILTERS_STATUS_NOT_SUBMIT' | translate }}</a></li>
                                                    <li><a href="" ng-click="changeDatacountFilter('initiated')">{{ 'FILTERS_STATUS_INITIATED' | translate }}</a></li>
                                                    <li><a href="" ng-click="changeDatacountFilter('partially_submit')">{{ 'FILTERS_STATUS_PARTIAL' | translate }}</a></li>
                                                    <li><a href="" ng-click="changeDatacountFilter('submitted')">{{ 'FILTERS_STATUS_SUBMITTED' | translate }}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="filter-label" ng-show="filter_datacount != []">
                                            <ul style="list-style: none; padding: 0">
                                                <li ng-repeat="data_count in current_datacount">
                                                    <span style="cursor: pointer; font-weight: bold" ng-click="removeDataCount($index)">X </span> {{ data_count }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="latest-leads__body">
                    <div class="text-center" ng-show="current_mode=='publisher'">
                        <h1>{{ traffic_count }} traffic - {{ count }} leads</h1>
                    </div>

                    <div class="desktop-table-responsive" ng-show="current_mode=='customer'">
                        <table id="leadsDataTable">
                            <thead ng-if="count > 0">
                                <tr class="desktop-table-tr__hide">
                                    <th class="table-row-checkbox-wr">
                                        <div class="checkbox">
                                            <label>
                                                <input id="check_all" type="checkbox" ng-model="checked" ng-change="checkAll()"/>
                                            </label>
                                        </div>
                                    </th>
                                    <th ng-repeat="leadColumn in firstGroup track by $index" ng-click="toggleSort(leadColumn, $index)" style="cursor: pointer;">
                                        <span class="th-col-label">{{leadColumn}}
                                            <span class="caret {{ currenSortIndex == $index && sort.desc == 1 ? 'caret_up' : '' }}" style="color:{{currenSortIndex == $index ? 'red' : '#525252'}}"></span>
                                        </span>
                                    </th>
                                    <th class="table__show-more-wr"></th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="lead in leads">
                                <tr class="{{$even ? '' : 'even'}} first-data">
                                    <td class="table-row-checkbox-wr">
                                        <input type="checkbox" ng-model="lead.checked" ng-checked="lead.checked">
                                    </td>
                                    <td ng-repeat="fieldName in firstGroup">
                                        {{ (lead[firstFields[fieldName]] || lead.field[fieldName].toString() || '') | count_symbols: max_symbols_frontend_texts }}<span ng-if="lead.field[fieldName].length > max_symbols_frontend_texts"><a ng-click="fullTextToggle($event)" class="btn btn-sm btn-outline" href=""><span class="default-text">...</span></a><span style="display:none">{{ lead.field[fieldName].substr(max_symbols_frontend_texts) }}</span></span>
                                    </td>
                                    <td class="table__show-more-wr">
                                        <a href="" class="btn btn-sm btn-outline js-full-info" ng-click="jsToggle($event)">
                                            <span class="default-text">{{ 'LEADS_FULL_INFO' | translate }}</span>
                                            <span class="active-text">{{ 'LEADS_CLOSE_ROW' | translate }}</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr class="table__full-info-tr" ng-repeat="group in lead.fNames">
                                    <td colspan="11" class="table__full-info-td">
                                        <div class="table__full-info-wr js-full-info__show-block">
                                            <table class="table__full-info">
                                                <thead class="table__full-info-thead">
                                                <tr>
                                                    <th ng-repeat="leadColumn in group">
                                                        <span ng-if="leadColumn!=conversationName">{{leadColumn}}</span>
                                                        <span ng-if="leadColumn==conversationName && lead.chat_id != ''">{{leadColumn}}</span>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody class="table__full-info-tbody">
                                                <tr>
                                                    <td ng-repeat="fieldName in group track by $index">
                                                        <span ng-if="fieldName!=conversationName && fieldName!=visitedPagesName && fieldName!=urlName">{{ lead.field[fieldName] || '' | count_symbols: max_symbols_frontend_texts }}<span ng-if="lead.field[fieldName].length > max_symbols_frontend_texts"><a ng-click="fullTextToggle($event)" class="btn btn-sm btn-outline" href=""><span class="default-text">...</span></a><span style="display:none">{{ lead.field[fieldName].substr(max_symbols_frontend_texts) }}</span></span></span>
                                                        <span ng-if="fieldName==conversationName && lead.chat_id != ''"><a href="/conversation/{{ lead.chat_id }}" target="_blank">{{ 'FIELDS_CONVERSATION_VIEW' | translate }}</a></span>
                                                        <span ng-if="fieldName==visitedPagesName && lead.field[fieldName] != 'undefined'" ng_repeat="visited_page in lead.field[fieldName] track by $index">
                                                            <a href="http://{{ visited_page['name'] }}" target="_blank">{{ visited_page['name']}}</a> {{' (' + visited_page['count'] + ')' }} <br/>
                                                        </span>
                                                        <span ng-if="fieldName==urlName && lead.field[fieldName] != 'undefined'"><a href="{{ lead.field[fieldName] }}" target="_blank">{{ lead.field[fieldName] || '' }}</a></span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="10" ng-show="count > limit">
                                    <pagination style="padding-left: 20px;" total-items="count" items-per-page="limit"
                                                ng-model="start" max-size="10" class="pagination-sm" boundary-links="true"
                                                previous-text="{{previousText}}" next-text="{{nextText}}" first-text="{{firstText}}" last-text="{{lastText}}"
                                            ></pagination>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                        <div class="row" ng-if="countAll != 0 && count == 0"><div class="col-md-offset-1">{{ 'LEADS_NO_SEARCH_RESULT' | translate }}</div></div>
                        <div class="row">
                            <div class="col-sm-5">
                                <div ng-if="count > limit" style="padding-left: 20px; padding-bottom: 10px">
                                    {{ 'PAGINATION_SHOWING_COUNT' | translate:translationDataCount }}
                                    <span ng-if="count > limit">({{ 'PAGINATION_SHOWING_FROM_TILL' | translate:translationDataCountFrom }})</span>
                                </div>
                            </div>
                            <div class="col-sm-7">
                            </div>
                        </div>
                    </div>

                    <div class="mobile-table-responsive" ng-show="current_mode=='customer'">
                        <div class="mobile-table-responsive__header">
                            <div class="checkbox">
                                <div class="custom-radio">
                                    <input id="CheckAll" type="checkbox" ng-model="checked_mob" ng-change="checkAllMob()">
                                    <label for="CheckAll">{{ 'LEADS_CHECK_ALL' | translate }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="mobile-table-responsive__body">
                            <div class="mobile-table__carusel owl-carousel owl-theme" ng-repeat="lead in mob_leads" owl-carousel data-options="owlOptions">
                                <div owl-carousel-item class="mobile-table__carusel-item" ng-repeat="group in lead.fNamesMob">
                                    <div class="table-row-checkbox__tr" ng-show="$index==0">
                                        <div class="custom-radio">
                                            <input id="_ch5{{lead._id}}" type="checkbox" ng-model="lead.checked" ng-checked="lead.checked">
                                            <label for="_ch5{{lead._id}}"><span class="sr-only">Check line</span></label>
                                        </div>
                                    </div>
                                    <table>
                                        <tr ng-repeat="fieldName in group">
                                            <td>
                                                <span ng-if="fieldName!=conversationName && fieldName!=visitedPagesName">{{ fieldName }}</span>
                                                <span ng-if="fieldName==conversationName && lead.chat_id != ''">{{ fieldName }}</span>
                                                <span ng-if="fieldName==visitedPagesName && lead.field[fieldName] != 'undefined'">{{ fieldName }}</span>
                                            </td>
                                            <td>
                                                <span ng-if="fieldName!=conversationName && fieldName!=visitedPagesName && fieldName!=urlName">{{ (lead[firstFields[fieldName]] || lead.field[fieldName] || '') | count_symbols: max_symbols_frontend_texts }}<span ng-if="lead.field[fieldName].length > max_symbols_frontend_texts"><a ng-click="fullTextToggle($event)" class="btn btn-sm btn-outline" href=""><span class="default-text">...</span></a><span style="display:none">{{ lead.field[fieldName].substr(max_symbols_frontend_texts) }}</span></span></span>
                                                <span ng-if="fieldName==conversationName && lead.chat_id != ''"><a href="/conversation/{{ lead.chat_id }}" target="_blank">{{ 'FIELDS_CONVERSATION_VIEW' | translate }}</a></span>
                                                <span ng-if="fieldName==visitedPagesName && lead.field[fieldName] != 'undefined'" ng_repeat="visited_page in lead.field[fieldName] track by $index">
                                                    <a href="http://{{ visited_page['name'] }}" target="_blank">{{ visited_page['name']}}</a>  {{' (' + visited_page['count'] + ')' }} <br/>
                                                </span>
                                                <span ng-if="fieldName==urlName && lead.field[fieldName] != 'undefined'"><a href="{{ lead.field[fieldName] }}" target="_blank">{{ lead.field[fieldName] || '' }}</a></span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <pagination ng-show="count  > limit" style="padding-left: 20px;" total-items="count" items-per-page="limit"
                                    ng-model="start" max-size="10" class="pagination-sm" boundary-links="true"
                                    previous-text="<" next-text=">" first-text="<<" last-text=">>"
                                ></pagination>
                        <div ng-if="countAll != 0 && count == 0"><div class="col-md-offset-1">{{ 'LEADS_NO_SEARCH_RESULT' | translate }}</div></div>
                        <div ng-if="count > limit" style="padding-left: 20px; padding-bottom: 10px">
                            {{ 'PAGINATION_SHOWING_COUNT' | translate:translationDataCount }}
                            <span ng-if="count > limit">({{ 'PAGINATION_SHOWING_FROM_TILL' | translate:translationDataCountFrom }})</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>